body {
  margin: 0;
}
.montserrat-nav {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 20px;
}
.dancing-script-header {
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-style: normal;
}
.righteous-regular {
  font-family: "Righteous", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.banner-text-about-w {
  font-size: 55px;
}
.navigation__checkbox {
  display: none;
}
.banner-text-header {
  font-size: 5em;
}
.banner-text-main {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}
.banner-text-about {
  text-align: left;
  font-size: 18px;
  margin-top: 0px;
  color: #444b54;
}
.banner-text-img {
  height: 50px;
}
.website-content-main {
  padding: 2em;
}
.navigation__button {
  background-color: #fff;
  height: 4rem;
  width: 4rem;
  position: fixed;
  top: 3rem;
  right: 2rem;
  border-radius: 50%;
  z-index: 2000;
  box-shadow: 2px 4px 10px #00000021;
  text-align: center;
}
.navigation__background {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  position: fixed;
  top: 3.5rem;
  right: 2.5rem;
  background-image: radial-gradient(#667b99, #afbbd2);
  z-index: 1000;
  transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
}
.navigation__nav {
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1500;
  opacity: 0;
  width: 0;
  transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.navigation__list {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
  width: 100%;
  padding: 0;
}
.navigation__item {
  margin: 1rem;
}
.navigation__link:link,
.navigation__link:visited {
  display: inline-block;
  font-size: 15px;
  font-weight: 300;
  padding: 1rem 2rem;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  background-image: linear-gradient(
    120deg,
    transparent 0%,
    transparent 50%,
    #fff 50%
  );
  background-size: 230%;
  transition: all 0.4s;
  border-radius: 30px;
}
.navigation__link:link span,
.navigation__link:visited span {
  margin-right: 1rem;
  display: inline-block;
}
.navigation__link:hover,
.navigation__link:active {
  background-position: 100%;
  color: #4c5c5c;
}
.navigation__checkbox:checked ~ .navigation__background {
  transform: scale(60);
}
.navigation__checkbox:checked ~ .navigation__nav {
  opacity: 1;
  width: 100%;
}
.navigation__icon {
  position: relative;
  margin-top: 2rem;
}
.navigation__icon,
.navigation__icon::before,
.navigation__icon::after {
  width: 2.2rem;
  height: 2px;
  background-color: #33333380;
  display: inline-block;
}
.navigation__icon::before,
.navigation__icon::after {
  content: "";
  position: absolute;
  left: 0;
  transition: all 0.2s;
}
.navigation__icon::before {
  top: -0.6rem;
}
.navigation__icon::after {
  top: 0.6rem;
}
.navigation__button:hover .navigation__icon::before {
  top: -0.8rem;
}
.navigation__button:hover .navigation__icon::after {
  top: 0.8rem;
}
.navigation__checkbox:checked + .navigation__button .navigation__icon {
  background-color: transparent;
}
.navigation__checkbox:checked + .navigation__button .navigation__icon::before {
  top: 0;
  transform: rotate(135deg);
}
.navigation__checkbox:checked + .navigation__button .navigation__icon::after {
  top: 0;
  transform: rotate(-135deg);
}
.banner-image-main {
  margin-top: 20px;
  height: 50px;
  height: 700px;
  margin-top: 65px;
}
.banner-main {
  display: flex;
  margin-top: 50px;
  gap: 2em;
}
.rounded {
  width: 30px;
  height: 30px;
  border: 2px solid #444b54;
  border-radius: 50%;
  margin: 0 0 30px 0;
}
.pointed {
  width: 7px;
  height: 7px;
  background-color: #444b54;
  border-radius: 50%;
  margin-bottom: 4rem;
}
.header-logo-1 {
  width: 500px;
}
.stories-header-image {
  width: 285px;
  position: absolute;
  top: 15px;
}
.stories-container-main {
  height: 1000px;
  width: 100%;
  background-color: #afbbd2;
  clip-path: polygon(0 25%, 100% 0%, 100% 75%, 0 100%);
  display: flex;
  align-items: center;
}
.stories-text-main {
  position: relative;
  margin-top: 70px;
}
.stories-inner-container {
  height: 250px;
  position: absolute;
  top: 0px;
  width: 100%;
}
.stories-inner-container-2 {
  height: 250px;
  position: absolute;
  bottom: 0px;
  width: 100%;
}
.stories-middle-wrapper {
  height: 500px;
  width: 100%;
  display: flex;
  align-items: center;
  overflow-y: scroll;
}
.stories-middle-container {
  width: 100%;
}
.header-logo-0 {
  width: 500px;
}
.mail-me-image {
  width: 340px;
}
.footer-container {
  height: 30px;
}
.mail-container {
  display: flex;
  flex-direction: column;
}
.mail-me-image-container {
  display: flex;
  justify-content: flex-end;
}
.form-control:focus {
  border-color: #afbbd2;
}
.mail-form-container {
  overflow: hidden;
  margin-top: 20px;
  /* width: 50%; */
  align-self: flex-end;
}
.comming-soon-text {
  color: #444b54;
}
.mail-form-container {
  /* display: flex; */
  width: 50%;
}
.arrow-container {
  background-color: #fff;
  padding: 2px;
  border-radius: 50%;
  box-shadow: 2px 4px 18px #00000021;
  position: absolute;
  bottom: 28%;
  z-index: 2000;
  cursor: pointer;
}
.arrow-image {
  width: 45px;
}
.right-arrow-container {
  right: 30px;
}
.left-arrow-container {
  right: 100px;
}
@media screen and (min-width: 480px) {
  .navigation__link:link,
  .navigation__link:visited {
    font-size: 20px;
  }
}
@media only screen and (max-width: 56.25em) {
  .navigation__button {
    top: 3rem;
    right: 2rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .navigation__button {
    top: 3rem;
    right: 1rem;
  }
}
@media only screen and (max-width: 56.25em) {
  .navigation__background {
    top: 3.5rem;
    right: 2.5rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .navigation__background {
    top: 3.5rem;
    right: 1.5rem;
  }
}
@media screen and (max-width: 1395px) {
  .banner-main {
    flex-direction: column;
    margin-top: 0;
  }
  .banner-image-main {
    width: 700px;
    align-self: center;
  }
}
@media screen and (max-width: 700px) {
  .banner-image-main {
    width: 300px;
    align-self: center;
  }
  .banner-image-main {
    height: 300px;
  }
  .header-logo-1 {
    width: 350px;
  }
  .stories-header-image {
    width: 240px;
  }
}
@media screen and (max-width: 425px) {
  .header-logo-1 {
    width: 250px;
  }
  .mail-me-image {
    width: 265px;
  }
}
@media screen and (max-width: 575px) {
  .mail-form-container {
    width: 100%;
  }
}
@media screen and (max-width: 425px) {
  .stories-header-image {
    width: 190px;
    margin-bottom: 20px;
  }
  .stories-text-main {
    margin-top: 0;
  }
  .stories-header-image {
    top: 0;
  }
}
